files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /home/ec2-user/server.crt;
          ssl_certificate_key  /home/ec2-user/privatekey.pem;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection 'upgrade';
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /home/ec2-user/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDuDCCAqACCQDewUUSMwq45zANBgkqhkiG9w0BAQUFADCBnTELMAkGA1UEBhMC
      Vk4xFDASBgNVBAgMC0hvIENoaSBNaW5oMRQwEgYDVQQHDAtIbyBDaGkgTWluaDEV
      MBMGA1UECgwMUk1JVCBWaWV0bmFtMQwwCgYDVQQLDANTU1QxGTAXBgNVBAMMEHJt
      aXQtZW52LW1vbml0b3IxIjAgBgkqhkiG9w0BCQEWE2RpZW5idWkxMUBnbWFpbC5j
      b20wHhcNMTcwNTIxMTEyMDA0WhcNMTgwNTIxMTEyMDA0WjCBnTELMAkGA1UEBhMC
      Vk4xFDASBgNVBAgMC0hvIENoaSBNaW5oMRQwEgYDVQQHDAtIbyBDaGkgTWluaDEV
      MBMGA1UECgwMUk1JVCBWaWV0bmFtMQwwCgYDVQQLDANTU1QxGTAXBgNVBAMMEHJt
      aXQtZW52LW1vbml0b3IxIjAgBgkqhkiG9w0BCQEWE2RpZW5idWkxMUBnbWFpbC5j
      b20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCjuaoyx6UZ7NjHRme7
      6+Trpiy9160Xpm7xkzxBXQ0LZSsekVG7F/tEVloJ/t1k7hfSFjvLdVL6L6id3l6r
      Keu+GKuBXqNNcxz1pw3WX2Y3p7QfB6GJ74Wn+wfMnbNuH7KgL988aIDDS2DapvNE
      7dxXNZhkzHS/rWaKGWjP+HiLU1saBzvUVTcKDDwSjT06gfWypwg1c7voJmfupxvf
      UbZPdvVGwslu5fgpY9mZdtm//jq/pdqO9z/PQpeMujcHiy8N1+s8rsdFAXmx3VO3
      dtLd1qKLC86hTbcL6u900769wNmOHMFJxa+3wVyGEyPa8O299d18S0uE3e3EvZOG
      73B9AgMBAAEwDQYJKoZIhvcNAQEFBQADggEBABVlmyZqrVBh8hikSKvME9g7vaoM
      VEQJQlMp4l91lquJNdOa1FexE/+yyJQhDI3DV20vsSa88bOBVZsQpl6/6yphYZ8o
      TSJCd08roVbs6sLLvXL8t1njAus+C5mDY/hpOmbkteXBxd7wRx7S+4oBJ/a2shHD
      rDMGE0teVGQ5Qe7I9VwZuQV0juAFXIQCQqfdhenVsJ92Tx45+DNQFpuC+J99s+bT
      U8NLOr4jwlqMEYPxxexttinaVq98ELNd7EHNABLPDkOKCN299GUqKfgf0PFzv8IM
      yxZf87cZpES+PbQP1fFcmVgL9u54JPMxsRRxjxGE0JLUNpW595xt6Ngjrko=
      -----END CERTIFICATE-----

  /home/ec2-user/privatekey.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAo7mqMselGezYx0Znu+vk66YsvdetF6Zu8ZM8QV0NC2UrHpFR
      uxf7RFZaCf7dZO4X0hY7y3VS+i+ond5eqynrvhirgV6jTXMc9acN1l9mN6e0Hweh
      ie+Fp/sHzJ2zbh+yoC/fPGiAw0tg2qbzRO3cVzWYZMx0v61mihloz/h4i1NbGgc7
      1FU3Cgw8Eo09OoH1sqcINXO76CZn7qcb31G2T3b1RsLJbuX4KWPZmXbZv/46v6Xa
      jvc/z0KXjLo3B4svDdfrPK7HRQF5sd1Tt3bS3daiiwvOoU23C+rvdNO+vcDZjhzB
      ScWvt8FchhMj2vDtvfXdfEtLhN3txL2Thu9wfQIDAQABAoIBAQCI2NUToJ+1Lax7
      07M89YzgEoNvImiBThGJReGlWJtgnO0PnbNMyFyy3+JeXHK8u+2ZIhBUnPoAN/me
      CpHiSyXKPGCNv4aLY94ezcTZG+AaQMhi70PsQRHcOAxq0J17PG9XSOw0V7zYf5ay
      67yGLrJvClMYXXRwCgWdBGQBANPwzyKySwUg2y5ciy3L1x7fS1GuPXOvNxxIL0WD
      VqJ7S/g3ypN9J/3IeTNrY4D021C8fo3fQbaSgYPjTEnKDoB18jQ/pZISk/YIr1yI
      gtJ26UUHfgIXvHDRYxupef54RDwQEkcehMKHCh5FwBop6vO9DgfGJuyaDjAh/dAZ
      TU9FLaLBAoGBANeKy5Fr1XeQR+X2VXi+3JUmBhbBKqyG1lWaMFnKAbZUvcYzf6Bc
      v6f981bBrdudk/4+KG3+rBgRkGGAwhw+wb9+Qw7+D5kfQG6HajhRLy8vCdGgb7VO
      kuAuSSSZSMkCmFmyXBPwJc8XURuH4d6rml0z154qQ+K39tVjdsbIeSl5AoGBAMJ0
      +EceFmm4Sjpa0YwhC+EPkB6H5CxBeGLGcDT0ujXH4d+7OiLov31D7IEfFNWuqtSb
      g29US8LNCI+wwvTJlAbztJgWQLMj7MfxsH4MDmZWCa87USmzGIutXdwoRuKuS56F
      h2BS63pMYXx+o/xAbNpXVWijXHu1Svv4RJAvBYIlAoGBAIVGSgcaIT0z1nEn9sOZ
      aHVEtKEfQc659Q+rLlhmotZl4Y4LS9ARaWRrjypGycSw09ByCLeysCCVw6u2XM/w
      MgbBAJ/lkimA/Gsbih9We5F2SWD4DfqSohjCJfHeYfYAh8l2kp61b/t0FG+sfoob
      m3Aj3R/sTFuEmrhpLwlM7jYpAoGABiXck6MH4l/JOP8WEPAaiAsN62kwdZW8UKMl
      eQcju/+NzJ0GwYPKShOTrqFk7zyOehpQlXx8yLPiyWg1Qbf9zhp2YziQ4xkHq2qg
      wdtvuRyPQdMGReM7q27XwNYlJ5WLHn/qP8lfWIaBroXyeU8wIdcRBDXl/qNEs6Kt
      yEE0U2ECgYBrLdyDLfabNB4f9ax6KhUv6/xy3TtBGpGZHKgEWNSxiw/vhkC6zqOs
      KVH0/iixqrQQR8KQeY260kjkiyvHb4yte7YO20ArUpeK/taJRZmNuPSHSWk5QSFc
      9Bo0ncCWy5ur8IFnWulLJW5OA8/sLElSjB1PVGt1kazOo2ekwcYp3w==
      -----END RSA PRIVATE KEY-----