files:
  "/tmp/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
container_commands:
  00-add-config:
    command: cat /tmp/proxy.conf >> /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
  01-restart-nginx:
    command: /sbin/service nginx restart